[flake8]
max-line-length = 100

ignore =
    E203,
    E501,
    W503,
    E402,
    F401

exclude =
    .git,
    __pycache__,
    */migrations/*,
    */venv/*,
    */env/*,
    .venv,
    .tox,
    build,
    dist,
    *.egg-info,
    htmlcov,
    .pytest_cache,
    node_modules,
    staticfiles,
    mediafiles

per-file-ignores =
    __init__.py:F401,F403
    settings/*.py:E501
    */migrations/*.py:E501

count = True
show-source = True
statistics = True
