[flake8]
max-line-length = 100

ignore =
    E203,
    E226,
    E302,
    E305,
    E402,
    E501,
    E722,
    F401,
    F403,
    F405,
    F541,
    F841,
    W391,
    W503,
    W504

exclude =
    .git,
    __pycache__,
    */migrations/*,
    */venv/*,
    */env/*,
    .venv,
    .tox,
    build,
    dist,
    *.egg-info,
    htmlcov,
    .pytest_cache,
    node_modules,
    staticfiles,
    mediafiles

per-file-ignores =
    __init__.py:F401,F403,W391
    settings/*.py:E501,F403,F405
    */migrations/*.py:E501

count = True
show-source = True
statistics = True
